@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-size: cover;
    background-position: center;
}

.wrapper{
    display: flex;
    width: 750px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10 rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    justify-content: space-between;
}

.wrapper .form-content,
.wrapper .info-content {
    width: 48%;
}

.wrapper .imput-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.imput-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px ;
}

.imput-box input::placeholder{
    color: #fff;
}

.wrapper .potver{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.potver label input{
    accent-color: #fff;
    margin-right: 3px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    
}

.wrapper .btn a{
    text-decoration:none;
    color: #000;
}

.wrapper .info-content div {
    margin-bottom: 15px;
    font-size: 14.5px;
    line-height: 1.5;
    margin-left: 25px;
    margin-top: 30px;
}

.wrapper .info-content #amountDisplay,
.wrapper .info-content #commissionDisplay,
.wrapper .info-content #totalDisplay {
    font-weight: bold;
}

.info-content a{
    color: #008bfd;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.whay {
    position: absolute;
    margin-top: -110px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000; 
    padding: 20px; 
    color: #fff;
    font-size: 50px;
}
.whay h1{
    font-size: 15px;
    margin-top: 15px;
}
.whay .blue-text {
    color: rgb(0, 17, 255); /* Устанавливаем синий цвет текста */
}